/* ================================
   Footer
================================ */
.main-footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0; /* Reducido el padding superior e inferior */
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.main-footer p {
    font-size: 1.1rem; /* Aumento del tamaño de la fuente de los derechos de autor */
    margin-bottom: 15px; /* Reducido el margen inferior */
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px; /* Reducido el espacio entre los enlaces */
    margin: 15px 0; /* Reducido el margen superior e inferior */
    padding: 0 15px;
}

.footer-link {
    color: #00bfff;
    text-decoration: none;
    font-size: 1.5rem; /* Aumento del tamaño de las fuentes */
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #ffffff;
}

/* ================================
   Responsive
================================ */
@media (max-width: 768px) {
    .main-footer {
        padding: 15px 0; /* Ajuste de padding para pantallas pequeñas */
    }

    .footer-links {
        flex-direction: column;
        gap: 20px; /* Espacio menor entre enlaces en móvil */
    }

    .footer-link {
        font-size: 1.4rem; /* Tamaño de texto ligeramente mayor en móviles */
    }
}
