.alerta-editar {
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s ease;
}

.alerta-exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alerta-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.cerrar-alerta {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
